body{
    background-color: lightpink;
    color: mediumslateblue;
    margin: 0px;
} 

header{
    border-bottom: solid 2px rgb(255, 93, 231);
    padding: 0px;
    font-size: 32px;
    color: rgb(255, 93, 231);
}
section{
background-color: cornflowerblue;
}
