body{
    background-color: lightpink;
    color: mediumslateblue;
    margin: 0px;
    font-family: "Dancing Script", cursive;
} 

header{
    border-bottom: solid 2px rgb(255, 93, 231);
    padding: 0px;
    font-size: 32px;
    color: rgb(255, 93, 231);
}
section{
background-color: cornflowerblue;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{

    margin-right: 5%;
}
